my.html
PremaPaalagam/
Data-analysis/ecommerce_sentiment_analysis/data/Reviews.csv

Data-analysis/Day-2 Milk_analysis.xlsx
Data-analysis/My_Energy_Tracker.xlsx
Excel-analysis/
LuckyRa/

Professional-projects/Data-analysis/ecommerce_sentiment_analysis/data/Reviews.csvProfessional-projects/Data-analysis/ecommerce_sentiment_analysis/data/Reviews.csv
Professional-projects/Data-analysis/ecommerce_sentiment_analysis/data/Reviews.csv

Data-analysis/customer_churn_sql/data/customer_churn_dataset-testing-master.csv
Data-analysis/customer_churn_sql/image/
Data-analysis/ecommerce_sentiment_analysis/data/Reviews.csv
Data-analysis/sales_insights/data/
Data-analysis/sales_insights/images/
Data-analysis/sales_insights/reports/
